.line {
	line-height: 24px;
}

/*
 * Titles highlighting
 */
h3 {
	color: rgb(3, 75, 102);
}
h2 {
	color: rgb(3, 105, 132);
}
h1 {
	color: rgb(3, 135, 162);
}

/*
 * ansi2html
 */
pre.output {
	background: white;
	padding: 1em;
	white-space: pre;
	padding: 12px 12px;
	font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
	font-size: 12px;
	line-height: 1.5;
	display: block;
	overflow: auto;
	color: #404040;
	border: 1px solid #e1e4e5;
}

/*
 * Level Selector
 */
.wy-side-nav-search>div.version {
	color: white;
}
.level {
	padding: 0 0.5em;
	font-family: FontAwesome;
	cursor: pointer;
}
.level > span:after {
	content: '\f19d';
	color: rgba(255,255,255,0.3);
}
.ulvl1 .level > span:first-child:after {
	color: white;
}
.ulvl2 .level > span:after {
	color: white;
}

/*
 * Hidden Level Sections
 */
.lvl1 {
	max-height: 2em;
	visibility: hidden;
	margin-right: -20px;
	padding-right: 10px;
	overflow: hidden;
	transition: all 0.5s;
	color: transparent !important;
	border-right: 10px solid #6ab0de;
}
.lvl2 {
	max-height: 2em;
	visibility: hidden;
	margin-right: -20px;
	padding-right: 10px;
	overflow: hidden;
	transition: all 0.5s;
	color: transparent !important;
	border-right: 10px solid #2980b9;
}

.lvl1 + .lvl1{
	display: none;
}
.lvl2 + .lvl2 {
	display: none;
}

/*
 * Hidden Level Sections Placeholders
 */
.lvl1:before {
	visibility: visible;
	content: "\f19d";
	color: #6ab0de;
	float: right;
	cursor: pointer;
	font-family: FontAwesome;
}
.lvl2:before {
	visibility: visible;
	content: "\f19d  \f19d";
	color: #2980b9;
	float: right;
	cursor: pointer;
	font-family: FontAwesome;
}

.ulvl1 .lvl1 {
	display: inherit;
	visibility: visible;
	max-height: unset;
	transition: all 0.5s;
	color: inherit !important;
}
.ulvl2 .lvl1 {
	display: inherit;
	visibility: visible;
	max-height: unset;
	transition: all 0.5s;
	color: inherit !important;
}
.ulvl2 .lvl2 {
	display: inherit;
	visibility: visible;
	max-height: unset;
	transition: all 0.5s;
	color: inherit !important;
}
.ulvl1 .lvl1:before {
	visibility: hidden;
	color: transparent;
}
.ulvl2 .lvl1:before {
	visibility: hidden;
	color: transparent;
}
.ulvl2 .lvl2:before {
	visibility: hidden;
	color: transparent;
}

/*
 * RTD theme customization
 */
.highlight > pre.literal-block {
	padding: 12px 12px !important;
	margin: 0 ! important;
	border: 0 !important;
}
.wy-nav-top {
	background-color: rgb(3, 135, 162);
}
.wy-nav-side {
	background-color: rgb(3, 135, 162);
}
.wy-side-nav-search {
	background-color: rgb(3, 135, 162);
}
.wy-menu-vertical a {
	color: white;
}
.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
	color: teal;
}
.wy-table-responsive table td, .wy-table-responsive table th {
	white-space: initial;
}

@media screen and (min-width: 1400px) {
	.wy-nav-content-wrap {
		background: #fcfcfc;
	}
	.wy-nav-content {
		margin: 0 150px;
	}
}

.c-action:before {padding-right:0.4em; color: seagreen; content: '\f013'; font-family: FontAwesome}
.c-docker-repo:before {padding-right:0.4em; color: #27b8e8; content: '\f04d'; font-family: FontAwesome}
.c-docker-registry:before {padding-right:0.4em; color: #27b8e8; content: '\f009'; font-family: FontAwesome}
.c-node:before {padding-right:0.4em; color: cornflowerblue; content: '\f233'; font-family: FontAwesome}
.c-svc:before {padding-right:0.4em; color: seagreen; content: '\f111'; font-family: FontAwesome}
.c-tag:before {padding-right:0.4em; color: darkcyan; content: '\f02b'; font-family: FontAwesome}
.c-pkg:before {padding-right:0.4em; color: #cc9966; content: '\f1b3'; font-family: FontAwesome}
.c-net:before {padding-right:0.4em; color: cadetblue; content: '\f0ec'; font-family: FontAwesome}
.c-check:before {padding-right:0.4em; color: green; content: '\f00c'; font-family: FontAwesome}
.c-form:before {padding-right:0.4em; color: palevioletred; content: '\f12e'; font-family: FontAwesome}
.c-report:before {padding-right:0.4em; color: sandybrown; content: '\f200'; font-family: FontAwesome}
.c-metric:before {padding-right:0.4em; color: sandybrown; content: '\f121'; font-family: FontAwesome}
.c-chart:before {padding-right:0.4em; color: sandybrown; content: '\f201'; font-family: FontAwesome}
.c-group:before {padding-right:0.4em; color: salmon; content: '\f0c0'; font-family: FontAwesome}
.c-priv:before {padding-right:0.4em; color: goldenrod; content: '\f0c0'; font-family: FontAwesome}
.c-user:before {padding-right:0.4em; color: #FAA272; content: '\f007'; font-family: FontAwesome}
.c-dns-domain:before {padding-right:0.4em; color: turquoise; content: '\f0e1'; font-family: FontAwesome}
.c-dns-record:before {padding-right:0.4em; color: turquoise; content: '\f0e1'; font-family: FontAwesome}
.c-fset:before {padding-right:0.4em; color: slategray; content: '\f0b0'; font-family: FontAwesome}
.c-disk:before {padding-right:0.4em; color: #949413; content: '\f1c0'; font-family: FontAwesome}
.c-array:before {padding-right:0.4em; color: #949413; content: '\f00a'; font-family: FontAwesome}
.c-diskgroup:before {padding-right:0.4em; color: #949413; content: '\f009'; font-family: FontAwesome}
.c-rule:before {padding-right:0.4em; color: #ee5464; content: '\f140'; font-family: FontAwesome}
.c-rset:before {padding-right:0.4em; color: #ee5464; content: '\f1b2'; font-family: FontAwesome}
.c-modset:before {padding-right:0.4em; color: #ee5464; content: '\f085'; font-family: FontAwesome}
.c-app:before {padding-right:0.4em; color: deeppink; content: '\f069'; font-family: FontAwesome}

.c-action {font-weight: bold}
.c-docker-repo {font-weight: bold}
.c-docker-registry {font-weight: bold}
.c-node {font-weight: bold}
.c-svc {font-weight: bold}
.c-tag {font-weight: bold}
.c-pkg {font-weight: bold}
.c-net {font-weight: bold}
.c-check {font-weight: bold}
.c-form {font-weight: bold}
.c-report {font-weight: bold}
.c-metric {font-weight: bold}
.c-chart {font-weight: bold}
.c-group {font-weight: bold}
.c-priv {font-weight: bold}
.c-user {font-weight: bold}
.c-dns-domain {font-weight: bold}
.c-dns-record {font-weight: bold}
.c-fset {font-weight: bold}
.c-disk {font-weight: bold}
.c-array {font-weight: bold}
.c-diskgroup {font-weight: bold}
.c-rule {font-weight: bold}
.c-rset {font-weight: bold}
.c-modset {font-weight: bold}
.c-app {font-weight: bold}

.c-close:before {color: black; content: '\f00d'; font-family: FontAwesome}
.c-close {color: transparent}
.c-fullscreen:before {color: black; content: '\f065'; font-family: FontAwesome}
.c-fullscreen {color: transparent}
.c-shrink:before {color: black; content: '\f066'; font-family: FontAwesome}
.c-shrink {color: transparent}
.c-link:before {color: black; content: '\f0c1'; font-family: FontAwesome}
.c-link {color: transparent}

