html {
    font-size: 14pt;
    font-family: 'opensans', Arial, Sans, Georgia, Times new Roman;
    color: dimgray;
}

body {
    padding: 1em;
    background: #fff;
}

div.section > * {
  padding-left: 10px;
}

th.head {
  text-align: left;
}

tt {
  font-family: monospace;
}

dl.function > * > tt {
  background-color: lightgrey;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
}

table {
    border: 0px;
    border-color: transparent;
}

div.related li {
  float: left;
  margin-right: 3px;
}

div.related li.right {
  float: right;
  margin-right: 3px;
}

ul {
  list-style: initial;
  -webkit-padding-start: 0px;
  padding-left: 25px;
}

div.section ul {
  padding-left: 25px;
}

div.related ul {
  list-style: none;
  padding-left: 0px;
}

div.related > h3 {
  display: none;
}

div.body {
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
    margin-top: 1em;
    padding-bottom: 2em;
}

.headerlink {
  display: none;
  float: right;
  color: #aaaaaa;
}
*:hover > .headerlink {
  display: block;
}

h1 {
  background-color: teal;
  color: #ffffff;
  padding: 8px 10px;
}
h2 {
  background-color: goldenrod;
  color: #ffffff;
  padding: 6px 10px;
}
h3 {
  font-size: 1.5em;
}

.literal {
  border-width: 1px;
  border-color: lightgray;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
 -moz-border-radius:3px;
 -webkit-border-radius:3px;
  border-style: solid;
  color: #555555;
}

pre {
    background: #333;
    color: lightgrey;
    box-shadow: #333 1px 1px 20px 0;
    border-radius: 4px;
    padding: 1em;
    margin: 0.5em;
    overflow-wrap: break-word;
}
div.related > ul {
    margin: 0px;
    padding: 0px;
    min-height: 2em;
    -webkit-margin-start: 0px;
}

.highlight {
  background: #FCF6E6;
}

.admonition {
  background: #dddddd;
  padding: 1em;
  border-radius: 8px;
 -moz-border-radius:8px;
 -webkit-border-radius:8px;
}

.warning {
  background: #ffffaa;
}

.admonition-title {
  font-weight: bold;
}

cite {
  font-family: monospace;
  font-style: normal;
  background: lightblue;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
}

.menuselection {
  background: black;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
}
