html {
    font-size: 10pt;
    font-family: 'Ubuntu', Arial, Sans, Georgia, Times new Roman;
    color: #333333;
    background: url('background.gif') repeat-x #3A3A3A;
}

body {
    padding: 1em;
    border-radius: 8px;
   -moz-border-radius:8px;
   -webkit-border-radius:8px;
    border-spacing: 0;
    background: #fff;
}

div.section > * {
  padding-left: 10px;
}

th.head {
  text-align: left;
}

tt {
  font-family: monospace;
}

dl.function > * > tt {
  background-color: lightgrey;
}

a {
    color: #660000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #880000;
}

table {
    border: 0px;
    border-color: transparent;
}

div.related li {
  float: left;
  margin-right: 3px;
}

div.related li.right {
  float: right;
  margin-right: 3px;
}

ul {
  list-style: initial;
  -webkit-padding-start: 0px;
  padding-left: 25px;
}

div.section ul {
  padding-left: 25px;
}

div.related ul {
  list-style: none;
  padding-left: 0px;
}

div.related > h3 {
  display: none;
}

div.body {
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
    margin-top: 1em;
    padding-bottom: 2em;
}

.headerlink {
  float: right;
  color: #aaaaaa;
}

h1 {
  background-color: #000000;
  color: #ffffff;
  padding: 8px 10px;
}
h2 {
  background-color: #663333;
  color: #ffffff;
  padding: 6px 10px;
}
h3 {
  font-size: 1.5em;
}

pre {
  overflow-wrap: break-word;
}
div.related > ul {
    margin: 0px;
    padding: 0px;
    min-height: 2em;
    -webkit-margin-start: 0px;
}

.highlight {
  background: #FCF6E6;
}

.admonition {
  background: #dddddd;
  padding: 1em;
  border-radius: 8px;
 -moz-border-radius:8px;
 -webkit-border-radius:8px;
}

.warning {
  background: #ffffaa;
}

.admonition-title {
  font-weight: bold;
}
